@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 31% 96%;
    --foreground: 0 0% 10%;
    --card: 45 31% 96%;
    --card-foreground: 0 0% 10%;
    --popover: 45 31% 96%;
    --popover-foreground: 0 0% 10%;
    --primary: 49 84% 43%;
    --primary-foreground: 45 31% 96%;
    --secondary: 47 14% 89%;
    --secondary-foreground: 0 0% 10%;
    --muted: 47 14% 89%;
    --muted-foreground: 0 0% 42%;
    --accent: 51 84% 56%;
    --accent-foreground: 0 0% 10%;
    --destructive: 6 63% 46%;
    --destructive-foreground: 45 31% 96%;
    --border: 0 0% 42%;
    --input: 47 14% 89%;
    --ring: 49 84% 43%;
    --success: 150 51% 36%;
    --warning: 28 80% 52%;
    --info: 209 59% 60%;
    --chart-1: 49 84% 43%;
    --chart-2: 0 0% 10%;
    --chart-3: 0 0% 42%;
    --chart-4: 150 51% 36%;
    --chart-5: 209 59% 60%;
    --radius: 1rem;
    --sidebar-background: 45 31% 96%;
    --sidebar-foreground: 0 0% 10%;
    --sidebar-primary: 49 84% 43%;
    --sidebar-primary-foreground: 45 31% 96%;
    --sidebar-accent: 47 14% 89%;
    --sidebar-accent-foreground: 0 0% 10%;
    --sidebar-border: 47 14% 89%;
    --sidebar-ring: 49 84% 43%;
  }
  .dark {
    --background: 0 0% 10%;
    --foreground: 45 31% 96%;
    --card: 0 0% 16%;
    --card-foreground: 45 31% 96%;
    --popover: 0 0% 16%;
    --popover-foreground: 45 31% 96%;
    --primary: 49 84% 43%;
    --primary-foreground: 45 31% 96%;
    --secondary: 0 0% 16%;
    --secondary-foreground: 45 31% 96%;
    --muted: 0 0% 16%;
    --muted-foreground: 0 0% 42%;
    --accent: 48 86% 35%;
    --accent-foreground: 45 31% 96%;
    --destructive: 6 63% 46%;
    --destructive-foreground: 45 31% 96%;
    --border: 0 0% 42%;
    --input: 0 0% 23%;
    --ring: 49 84% 43%;
    --success: 150 51% 36%;
    --warning: 28 80% 52%;
    --info: 209 59% 60%;
    --chart-1: 49 84% 43%;
    --chart-2: 45 31% 96%;
    --chart-3: 0 0% 42%;
    --chart-4: 150 51% 36%;
    --chart-5: 209 59% 60%;
    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 45 31% 96%;
    --sidebar-primary: 49 84% 43%;
    --sidebar-primary-foreground: 45 31% 96%;
    --sidebar-accent: 0 0% 23%;
    --sidebar-accent-foreground: 45 31% 96%;
    --sidebar-border: 0 0% 23%;
    --sidebar-ring: 49 84% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
